VISION_AUTH_URL=https://portal.jvision.ac.kr/user/loginAuth.face
NEXTAUTH_SECRET=replace-me-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=file:./dev.db
UPLOAD_DIR=./uploads
